body {
    margin: 0;
    font-family: 'Georgia', serif;
    background-color: #ebe7f5;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo {
    width: 100px;
    margin: 10px;
    align-self: flex-start;
  }
  
  .landing {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }
  
  .left .poster {
    width: 500px;
    padding: 20px;
  }
  
  .right {
    padding: 20px;
    max-width: 400px;
  }
  
  .right h1 {
    font-size: 30px;
    margin-left: 100px;
  }
 
  .right p {
    /* font-size: 20px; */
    margin: 20px 0;
  }
  .lpq{
    font-size: 40px;
  }
  
  .form-box {
    margin-top: 50px;
    padding: 30px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #e0e0e0;
    text-align: center;
    width: 350px;
  }
  
  input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 90%;
    border-radius: 8px;
    border: 1px solid gray;
    font-family: 'Georgia';
  }
  
  button {
    padding: 10px 20px;
    margin: 10px;
    margin-left: 150px;
    font-weight: bold;
    background-color: #1c1c1c;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .link {
    cursor: pointer;
    color: #000;
    font-weight: 600;
    width:380px;
    /* margin-top: 10px; */
    text-align: center;
  }
 .sb{
  padding: 10px 20px;
  margin: 10px;
  /* margin-left: 150px; */
  font-weight: bold;
  background-color: #1c1c1c;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
 }
 .admin-btn {
  padding: 10px 20px;
    margin: 10px;
    margin-left: 40px;
    font-weight: bold;
    background-color: #1c1c1c;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.admin-btn:hover {
  background-color: #555;
}
